# Packages
/node_modules
/vendor

# Credentials
.env*
!.env.example
google-service-account.json

# Frontend assets
/web/js/*
!/web/js/.gitkeep

/web/css/*
!/web/css/.gitkeep

/web/fonts/*
!/web/fonts/.gitkeep

