body {
  background: #525252 url('../img/ciaran.png') center no-repeat;
  color: #ffffff;
  min-height: 100vh;

  [v-cloak] {
    display: none;
  }

  header#site-header {
    text-align: center;
    padding-top: 2em;

    @media (min-width: $screen-md) {
      text-align: left;
    }

    img#logo {
      padding-bottom: 2em;
    }

    ul#social-networks {
      margin-bottom: 2em;

      a {
        color: #525252;

        &:hover {
          color: $colours-green;
        }
      }

      @media (min-width: $screen-md) {
        text-align: right;
      }
    }
  }

  footer#site-footer {
    padding: 2em 0 2em 0;
    text-align: center;

    a#itunes-link {
      @media (min-width: $screen-md) {
        box-shadow: 0 0 20px 1px rgba(255,255,255,1);
        position: fixed;
        bottom: 2em;
        right: 2em;
      }
    }
  }
}