section#future-events {
  @include font-size(18px);
  text-align: center;

  img {
    z-index: 999;

    @media (max-width: $screen-xs) {
      width: 80%;
    }
  }

  .future-events-container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 80%;

    @media (min-width: $screen-md) {
      width: 50%;
    }

    .future-event {
      background-color: rgba(157, 157, 157, 0.20);
      border: 1px solid #5c5c5c;
      box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.15);
      margin-bottom: 1em;
      padding: 1em 0 1em 0.500em;

      h2 {
        margin: 0 0 0.2500em 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;

        &.address {
          @include font-size(14px);
        }
      }

      a {
        @include font-size(16px);
        color: #ffffff;
      }

      .event-date {
        text-transform: uppercase;
        text-align: center;
        width: 100px;

        p {
          background: #ffffff;
          color: #000000;

          &.month {
            background: $colours-green;
            padding: 3px 0;
          }

          &.date {
            padding-top: 3px;
          }

          &.day {
            padding-bottom: 3px;
          }
        }
      }

      .ticket-uri {
        float: left;

        @media (min-width: $screen-sm) {
          float: right;
        }
      }
    }
  }
}
