section#future-events {
  @include font-size(18px);
  text-align: center;

  img {
    z-index: 999;

    @media (max-width: $screen-xs) {
      width: 80%;
    }
  }

  #future-events-container {
    z-index: 9999;
    position: absolute;
    top: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left;
    width: 80%;

    @media (min-width: $screen-md) {
      width: 50%;
    }

    .future-event {
      background-color: rgba(157, 157, 157, 0.20);
      border: 1px solid #5c5c5c;
      box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.15);
      margin-bottom: 1em;
    }
  }
}
